# ========================
# Maven
# ========================
target/
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# ========================
# IDEs
# ========================
.idea/
*.iml
*.iws
*.ipr

.vscode/

# Eclipse / STS
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Sistema operacional
# ========================
.DS_Store
Thumbs.db

# ========================
# Environment / Secrets
# ========================
.env
*.env

# Spring Boot config local
application-local.yml
application-local.properties

# ========================
# Java compiled files
# ========================
*.class

# ========================
# Package files
# ========================
*.jar
*.war